:root{
    --info-color-font: #754e1a;
    --info-color-bg: #ffecb2;
    --base-box-shadow: rgba(64, 75, 90, 0.29) 0px 0px 1px 0px, rgba(64, 75, 90, 0.3) 0px 3px 8px -2px;
    --hover-box-shadow: rgba(34, 39, 46, 0.29) 0px 0px 1px 0px, rgba(24, 31, 36, 0.3) 0px 8px 8px -2px
}

body {
    background: #F3F3F3 !important
}

.card-info{
    background: var(--info-color-bg) !important;
    color: var(--info-color-font) !important;
}

.journey {
    position: relative;
    top: 90%;
}

.journey-inner {
    position: fixed !important;
    bottom: 0 !important;
    width: 30% !important
}

.journey-container > .MuiDrawer-paperAnchorBottom {
    top: 10% !important;
    right: 70% !important;
}


.card{
    overflow: hidden;
    box-shadow: var(--base-box-shadow) !important;
    transition: box-shadow 200ms ease-in-out 0s;
    margin-bottom: 2rem;
}

.card:hover{
    box-shadow: var(--hover-box-shadow) !important;
}

.card-header {
    padding: 8px 1.25rem
}

.card-body {
    padding: 1.25rem
}

.card-footer {
    padding: .75rem 1.25rem
}

.card-button {
    color: inherit;
    cursor: pointer !important
}

.card-button:hover {
    color: rgb(21, 101, 192)
}

.unset-box-shadow{
    box-shadow: unset !important;
}


.sidebar {
    margin-top: 32px;
    position: sticky;
    top: 80px;
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: var(--base-box-shadow) !important;
}

.hidden{
    display: none !important
}

.card-body .MuiCardHeader-action{
    margin-top: 3px !important
}